.warna-tombol font{
    color: #00b300;
    font-weight: bold;
}

#tombol-keluar font{
    font-weight: bold;
    color: red;
}

.table .thead-light th{
    background-color: #00b300;
}

.border-img{
    border:0;
    text-decoration:none;
    outline:none;
}

.tinggi-atur{
    margin-top: 40px;
}

.lurusan {
    width: 140px;
}

.lurusan form{
    margin-top: 30px;
    width: 62px;
}

.lurusan .terima{
    float: left;
    margin-right: 2px;

}

.terima button{
    border: 0px;
}

.lurusan .tolak{
    float: right;
}

.tolak button{
    border: 0px;
}